{% extends 'base.html' %}

{% block content %}
<div class="user-box">
{% if user_image_url %}
    <a href="{{ user_image_url }}" target="_blank"><img src="{{ user_image_url }}" alt="{{ user_name }}" class="profile-image"/></a>
{% end %}
    <div class="user-name">{{ user_name }}</div>
    <div class="user-id">{{ user_id }}</div>
</div>
<div class="breaker"></div>

<a href="{{ calendar_url }}" class="subscribe">Prenumerera på dina bokningar</a>

<div class="webcal-help">
    <p>
        När du klickar på knappen här ovanför bör ditt kalenderprogram öppnas och automatiskt fråga dig om
        du vill börja prenumerera på den här kalendern. Om det inte händer kan du använda länkarna nedan för
        att se hur du lägger in kalendern i det program du använder:
    </p>

    <ul>
        <li><a href="http://www.apple.com/findouthow/mac/#subscribeical" target="_blank">Apple iCal</a></li>
        <li><a href="http://support.google.com/calendar/bin/answer.py?hl=en&amp;answer=37100" target="_blank">Google Calendar</a></li>
        <li><a href="http://office.microsoft.com/en-us/outlook-help/view-and-subscribe-to-internet-calendars-HA010167325.aspx" target="_blank">Microsoft Outlook</a></li>
    </ul>
</div>

<a href="./">&laquo; Tillbaka</a>
{% end %}
