{% extends 'base.html' %}

{% block content %}
<h1>Prenumerera på dina SATS-bokningar</h1>

<p class="intro">
    Här kan du generera en länk som kan du sen kan lägga in i ditt kalenderprogram (iCal, Outlook osv.) för att få
    in de pass du har bokat på SATS i din kalender automatiskt. Inget mer lägga in för hand eller komma ihåg att ta
    bort när du avbokar!
</p>

<div class="auth-form">
    <p class="form-desc">
        Fyll i samma användarnamn och lösenord som du brukar logga in med på <a href="http://www.sats.se/" target="_blank">SATS.se</a>
        eller i SATS mobilappar och klicka på Generera länk.
    </p>

    <form method="post" action="generate">
    <div class="field">
        <label for="username">Användarnamn:</label>
        <input type="email" name="username" id="username"/>
    </div>
    <div class="field">
        <label for="password">Lösenord:</label>
        <input type="password" name="password" id="password"/>
    </div>
    <div class="button-bar">
        <button type="submit">Generera länk</button>
    </div>
    </form>
    <div class="breaker"></div>
</div>

<div class="footnote">
    Dina uppgifter kommer inte att sparas på något sätt. De används bara för att autentisera dig mot SATS servrar
    och att sen generera en länk som är unik för ditt konto.
</div>
{% end %}
