#login-form {
  .details {
    font-size: 0.85rem;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .mdl-spinner {
      margin-right: 1rem;
    }
  }

  .error {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: rgba(#d50000, 0.03);
    border: 1px solid rgba(#d50000, 0.5);
    border-radius: 2px;
    font-size: 0.85rem;
  }
}
