/*** RESET STYLES ***/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*** END OF RESET STYLES ***/

body {
    background-color: #efefef;
    padding: 20px;
    font-family: 'HelveticaNeue', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.4;
    color: #222;
}

h1 {
    margin: 0 0 20px;
    font-size: 26px;
    font-weight: bold;
}

p {
    margin: 10px 0;
}

a {
    color: #579BFB;
    text-decoration: none;
}

input,
textarea,
button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'HelveticaNeue', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

span.bold {
    font-weight: bold;
}

#wrap {
    width: 500px;
    margin: 40px auto 60px;
    padding: 30px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 5px #ddd;
    -moz-box-shadow: 0 1px 5px #ddd;
    box-shadow: 0 1px 5px #ddd;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

p.intro {
    margin: 20px 0 30px;
    font-size: 14px;
}

.auth-form {
    margin: 40px 0;
    padding: 20px 0;
    border: 1px solid #eee;
    border-width: 1px 0;
}

.auth-form .form-desc {
    margin: 0 0 20px;
    color: #333;
}

.auth-form .field {
    position: relative;
    margin-bottom: 10px;
    padding-left: 100px;
}

.auth-form .field label {
    position: absolute;
    top: 5px;
    left: 0;
    font-weight: bold;
    color: #444;
}

.auth-form .field input {
    width: 400px;
    margin: 0;
    padding: 3px;
    font-size: 14px;
}

.button-bar button {
    float: right;
    margin: 0;
    padding: 6px 14px;
    background-color: #ff7000;
    background-image: linear-gradient(bottom, #FF6A00 5%, #FF9500 95%);
    background-image: -o-linear-gradient(bottom, #FF6A00 5%, #FF9500 95%);
    background-image: -moz-linear-gradient(bottom, #FF6A00 5%, #FF9500 95%);
    background-image: -webkit-linear-gradient(bottom, #FF6A00 5%, #FF9500 95%);
    background-image: -ms-linear-gradient(bottom, #FF6A00 5%, #FF9500 95%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.05, #FF6A00), color-stop(0.95, #FF9500));
    -webkit-box-shadow: 0 1px 2px #bbb;
    -moz-box-shadow: 0 1px 2px #bbb;
    box-shadow: 0 1px 2px #bbb;
    border: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-shadow: #888 0 1px 1px;
}

.button-bar button:hover {
    background-color: #ff8000;
    background-image: linear-gradient(bottom, #FF6A00 5%, #FFA024 95%);
    background-image: -o-linear-gradient(bottom, #FF6A00 5%, #FFA024 95%);
    background-image: -moz-linear-gradient(bottom, #FF6A00 5%, #FFA024 95%);
    background-image: -webkit-linear-gradient(bottom, #FF6A00 5%, #FFA024 95%);
    background-image: -ms-linear-gradient(bottom, #FF6A00 5%, #FFA024 95%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.05, #FF6A00), color-stop(0.95, #FFA024));
}

.button-bar button:active {
    background-color: #d26a01;
    background-image: linear-gradient(bottom, #EB5E00 5%, #E08300 95%);
    background-image: -o-linear-gradient(bottom, #EB5E00 5%, #E08300 95%);
    background-image: -moz-linear-gradient(bottom, #EB5E00 5%, #E08300 95%);
    background-image: -webkit-linear-gradient(bottom, #EB5E00 5%, #E08300 95%);
    background-image: -ms-linear-gradient(bottom, #EB5E00 5%, #E08300 95%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.05, #EB5E00), color-stop(0.95, #E08300));
}

.footnote {
    margin-top: 20px;
    font-size: 11px;
    color: #666;
}

.user-box .profile-image {
    float: left;
    width: 50px;
    height: 50px;
    margin: -6px 10px 10px 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.user-box .user-name {
    margin: 6px 0 2px;
    font-size: 14px;
    font-weight: bold;
}

.user-box .user-id {
    color: #666;
}

input.calendar-url {
    width: 100%;
    margin: 40px 0 10px;
    padding: 5px;
    font-size: 16px;
    color: #666;
}

a.subscribe {
    display: block;
    margin: 10px 0 60px;
    padding: 20px;
    background-color: #ff7000;
    background-image: linear-gradient(bottom, #FF6A00 5%, #FF9500 95%);
    background-image: -o-linear-gradient(bottom, #FF6A00 5%, #FF9500 95%);
    background-image: -moz-linear-gradient(bottom, #FF6A00 5%, #FF9500 95%);
    background-image: -webkit-linear-gradient(bottom, #FF6A00 5%, #FF9500 95%);
    background-image: -ms-linear-gradient(bottom, #FF6A00 5%, #FF9500 95%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.05, #FF6A00), color-stop(0.95, #FF9500));
    -webkit-box-shadow: 0 1px 2px #888;
    -moz-box-shadow: 0 1px 2px #888;
    box-shadow: 0 1px 2px #888;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-shadow: #666 0 1px 1px;
}

a.subscribe:hover {
    background-color: #ff8000;
    background-image: linear-gradient(bottom, #FF6A00 5%, #FFA024 95%);
    background-image: -o-linear-gradient(bottom, #FF6A00 5%, #FFA024 95%);
    background-image: -moz-linear-gradient(bottom, #FF6A00 5%, #FFA024 95%);
    background-image: -webkit-linear-gradient(bottom, #FF6A00 5%, #FFA024 95%);
    background-image: -ms-linear-gradient(bottom, #FF6A00 5%, #FFA024 95%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.05, #FF6A00), color-stop(0.95, #FFA024));
}

.webcal-help {
    margin: 40px 0;
    padding: 10px;
    background-color: #f8f8f8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #555;
}

.webcal-help ul {
    padding-left: 20px;
    list-style-type: disc;
}

.webcal-help p.tip {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.breaker {
    clear: both;
}
