#link-screen {
  width: 100%;

  .mdl-card {
    &__title {
      height: 15rem;
      background-position: center;
      background-size: cover;
      text-shadow: 0px 0px 5px #fff;
    }

    &__supporting-text {
      width: auto;
    }
  }

  .calendar-url-heading {
    margin: 0 0 0.25rem;
    font-size: 1rem;
    line-height: 1.2;
  }

  .calendar-url {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0.3rem;
  }

  .calendar-link {
    display: inline-block;
    padding: 0.6rem 1rem;
    background-color: #ff4081;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    border-radius: 2px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;

    &-wrapper {
      margin: 1.5rem 0;
    }
  }

  p, ul {
    line-height: 1.4;
  }

  .icloud-tip {
    margin-top: 2rem;
    font-size: 0.8rem;
  }
}
